.account-date-row{
    height: 90px;
}

.account-date-col{
    justify-content: center;
    display: flex;
    align-items: center;
}

.account-date-row-title{
    font-size: 25px;
    user-select: none;
}

.account-contents{
    margin-top: 20px;
}

.account-contents-boxs{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    min-height: 300px;
    border: 1px solid #aeaeae;
}

.account-contents-boxs .blank_box{
    flex: 1 1 auto;
    text-align: center;
    padding-top: 120px;
}

.ac-title{
    height: 50px;  
}