@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  margin: 0;
  font-family: "Noto Sans KR";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 100%;
}

i{
  cursor: pointer;
}

i.disable{
  color: silver;
  cursor: default;
}

.icon-done{
  margin-left: 5px;
  height: 30px;
  color: green;
}

.icon-edit{
  margin-left: 5px;
  height: 30px;
  color: chocolate;
}

.text_center{
  text-align: center;
}